<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="uiObject" type="ServiceFairy.Service.UI.UIObjectConfiguration, ServiceFairy.Service.UI" />
  </configSections>

  <uiObject name="System.Register" title="注册服务" desc="负责服务终端的心跳、发布订阅等" kind="Kernel" weight="90">

  </uiObject>
  
</configuration>