<?xml version="1.0"?>
<configuration>

  <appSettings>

    <add key="defaultServerAddress" value="localhost:8090" />
    <add key="servicePath" value="D:\Work\Dev\Assembly\Service" />
    <add key="runningPath" value="D:\Work\Dev\Assembly\MyTest\Cluster" />
    <add key="deployPackagePath" value="D:\Work\Dev\Assembly\MyTest\Cluster\DeployPackage" />
    
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Assembly"/>
    </assemblyBinding>
  </runtime>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
