<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="instances" type="AssemblyHost.InstanceConfigurationSection, AssemblyHost" />
  </configSections>

  <instances>

    <instance name="Test1" path="TestExecutableAssembly.dll" appConfig = "app1.config" />
    <!--<instance name="Test2" path="TestExecutableAssembly.dll" />
    <instance name="Test3" path="TestExecutableAssembly.dll" />
    <instance name="Test4" path="TestExecutableAssembly.dll" />-->
    
  </instances>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Services" />
    </assemblyBinding>
  </runtime>

  <appSettings>
    <!--<add key="assemblyPath" value="ServiceFairy.Client.dll" />-->
    <!--<add key="assemblyPath" value="TestExecutableAssembly.dll" />-->
  </appSettings>
  
  
  

</configuration>