<?xml version="1.0"?>
<configuration>

  <appSettings>

    <add key="navigations" value="net.wtcp://localhost:9000;net.wtcp://117.79.130.229:8090;net.wtcp://localhost:8090;net.wtcp://xuyc-pc:8090;net.wtcp://xuyc-notebook:8090"/>
    
    <add key="defaultOpen" value="Root/SystemManagement/AppClientList" />

    <add key="servicePath" value="D:\Work\Dev\Assembly\Service" />

    <add key="platformSyncPath" value="D:\Work\Dev\Assembly\Setup\ServiceFairy" />

    <add key="platformSyncPath_IgnoreFiles" value="Configuration.xml" />
    
  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
