<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="uiObject" type="ServiceFairy.Service.UI.UIObjectConfiguration, ServiceFairy.Service.UI" />
  </configSections>

  <uiObject name="System.User" title="用户服务" desc="用户注册、登录、权限控制" kind="System">

  </uiObject>
  
</configuration>