<?xml version="1.0"?>
<configuration>
  
  <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <appSettings>

    <add key="areaDataBasePath" value="D:\Work\Dev\Test\PhoneNumberArea\Data\data" />
    <add key="defaultCountryIsoCode" value="cn" />
    <add key="defaultOperationMnc" value="00" />
    
  </appSettings>
  
</configuration>
