<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="uiObject" type="ServiceFairy.Service.UI.UIObjectConfiguration, ServiceFairy.Service.UI" />
  </configSections>

  <uiObject name="System.Watch" title="监控服务" desc="监控各个服务的运行" kind="System">

  </uiObject>
  
</configuration>