<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="assemblyPath" value="ServiceFairy.Product.dll" />
  </appSettings>

  
  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Assembly" />
    </assemblyBinding>

  </runtime>


</configuration>