<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="uiObject" type="ServiceFairy.Service.UI.UIObjectConfiguration, ServiceFairy.Service.UI" />
  </configSections>

  <uiObject name="System.Tray" title="终端服务" desc="协调服务终端的运行" kind="Kernel" weight="95">
    
  </uiObject>
  
</configuration>