<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="uiObject" type="ServiceFairy.Service.UI.UIObjectConfiguration, ServiceFairy.Service.UI" />
  </configSections>

  <uiObject name="System.Cache" title="缓存服务" desc="分布式缓存" kind="System">
    
  </uiObject>
  
</configuration>