<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="appService" type="ServiceFairy.ServiceFairyAssemblyInfoConfiguration, ServiceFairy"/>
  </configSections>

  <appService>
    <services basePath="..\..\MyTest\Service\" deployPackagePath="..\..\Service\" clientId="10000000-0000-0000-0000-000000000000" clientTitle="中心服务器" clientDesc="运行核心服务">
      <add name="Core.Tray" serviceName="Core.Tray" serviceVersion="1.0" />
      <add name="Core.Master" serviceName="Core.Master" serviceVersion="1.0" />
      <add name="Core.Register" serviceName="Core.Register" serviceVersion="1.0" />
      <add name="Core.Deploy" serviceName="Core.Deploy" serviceVersion="1.0" />
      <add name="Core.Configuration" serviceName="Core.Configuration" serviceVersion="1.0" />
      <add name="System.Navigation" serviceName="System.Navigation" serviceVersion="1.0" />
      <add name="System.Proxy" serviceName="System.Proxy" serviceVersion="1.0" />
      <add name="System.Share" serviceName="System.Share" serviceVersion="1.0" />
      <add name="System.Cache" serviceName="System.Cache" serviceVersion="1.0" />
      <add name="System.Storage" serviceName="System.Storage" serviceVersion="1.0" />
      <add name="System.User" serviceName="System.User" serviceVersion="1.0" />
    </services>
  </appService>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Services" />
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="assemblyFile" value="ServiceFairy.Dev.dll" />
  </appSettings>

</configuration>