<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="uiObject" type="ServiceFairy.Service.UI.UIObjectConfiguration, ServiceFairy.Service.UI" />
  </configSections>

  <uiObject name="System.Queue" title="队列服务" desc="使用队列存储调用请求" kind="System" weight="95">

  </uiObject>
  
</configuration>