<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="uiObject" type="ServiceFairy.Service.UI.UIObjectConfiguration, ServiceFairy.Service.UI" />
  </configSections>

  <uiObject name="System.Navigation" title="导航服务" desc="获取首选项及代理服务列表" kind="System" weight="100">
    
  </uiObject>
  
</configuration>