<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="appService" type="ServiceFairy.ServiceFairyAssemblyInfoConfiguration, ServiceFairy"/>
  </configSections>

  <appService>
    <services basePath="..\Service\">
      <add name="system.server" path="Server\ServiceFairy.Service.Server.dll" autoStart="true" />
    </services>
  </appService>


  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Services" />
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="assemblyPath" value="ServiceFairy.Server.dll" />
  </appSettings>

</configuration>