<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="uiObject" type="ServiceFairy.Service.UI.UIObjectConfiguration, ServiceFairy.Service.UI"/>
  </configSections>

  <uiObject name="System.Master" title="中心服务" desc="负责协调各服务终端的工作" kind="Kernel" weight="100">
    
  </uiObject>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
