<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="uiObject" type="ServiceFairy.Service.UI.UIObjectConfiguration, ServiceFairy.Service.UI" />
  </configSections>

  <uiObject name="System.Proxy" title="代理服务" desc="代理服务终端的调用" kind="System" weight="95">

  </uiObject>
  
</configuration>