<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="uiObject" type="ServiceFairy.Service.UI.UIObjectConfiguration, ServiceFairy.Service.UI" />
  </configSections>

  <uiObject name="System.Share" title="共享服务" desc="共享平台" kind="System">

  </uiObject>
  
</configuration>