<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="appService" type="ServiceFairy.ServiceFairyAssemblyInfoConfiguration, ServiceFairy"/>
  </configSections>

  <appService>
    <services runningPath="..\..\MyTest\Service\" servicePath="..\..\Service\" deployPackagePath="..\..\MyTest\DeployPackage\" clientId="10000000-0000-0000-0000-000000000000" clientTitle="中心服务器" clientDesc="运行核心服务">
      <add service="Core.Tray 1.0" />
      <add service="Core.Master 1.0" />
      <add service="Core.Register 1.0" />
      <add service="Core.Deploy 1.0" />
      <add service="Core.Configuration 1.0" />
      <add service="System.Navigation 1.0" />
      <add service="System.Proxy 1.0" />
      <add service="System.Share 1.0" />
      <add service="System.Cache 1.0" />
      <add service="System.Storage 1.0" />
      <add service="System.User 1.0" />
    </services>
  </appService>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Services" />
    </assemblyBinding>
    <gcConcurrent enabled="false" />
    <gcServer enabled="true"/>
  </runtime>
  <appSettings>
    <add key="assemblyPath" value="BhFairy.Dev.dll" />
  </appSettings>

</configuration>