<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="systemSettings" type="ServiceFairy.DeployMapConfiguration, ServiceFairy" />
  </configSections>

  <appSettings>
    
    <!-- 通信端口的起始值与结束值 -->
    <add key="startPort" value="9001" />
    <add key="endPort" value="9999" />

  </appSettings>

</configuration>