<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="uiObject" type="ServiceFairy.Service.UI.UIObjectConfiguration, ServiceFairy.Service.UI" />
  </configSections>

  <uiObject name="System.Configuration" title="配置服务" desc="负责各服务的配置信息分发" kind="Kernel">
    
  </uiObject>
  
</configuration>